<?php
return array (
  'backend' =>
  array (
    'frontName' => '<%= @appboprefix%>',
  ),
  'install' =>
  array (
    'date' => 'Thu, 18 Feb 2016 20:59:44 +0000',
  ),
  'crypt' =>
  array (
    'key' => '<%= @appsecret%>',
  ),
  'session' =>
  array (
    'save' => 'files',
  ),
  'db' =>
  array (
    'table_prefix' => '<%= @dbprefix%>',
    'connection' =>
    array (
      'default' =>
      array (
        'host' => '<%= @dbhost%>',
        'dbname' => '<%= @dbname%>',
        'username' => '<%= @dbuser%>',
        'password' => '<%= @dbpassword%>',
        'model' => 'mysql4',
        'engine' => 'innodb',
        'initStatements' => 'SET NAMES utf8;',
        'active' => '1',
      ),
    ),
  ),
  'resource' =>
    array (
      'default_setup' =>
      array (
        'connection' => 'default',
      ),
    ),
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'cache_types' =>
    array (
      'config' => 1,
      'layout' => 1,
      'block_html' => 1,
      'collections' => 1,
      'reflection' => 1,
      'db_ddl' => 1,
      'eav' => 1,
      'config_integration' => 1,
      'config_integration_api' => 1,
      'full_page' => 1,
      'translate' => 1,
      'config_webservice' => 1,
    ),
  );
