user: quanta-agent
directory: /var/run/quanta
pidfile: /var/run/quanta/agent.pid
daemonize: yes

poll_interval: 60
update_interval: 15

logger:
  level: notice
  file: syslog

hostid: <%= @hostname %>
quanta_token: <%= @token %>

server:
  url: "https://www.quanta-monitoring.com/push"
  timeout: 10

cache:
  max_size_mb: 30

modules:
  path: /usr/lib/quanta/modules
  config_path: /etc/quanta/modules.d

listen:
  path: /var/run/quanta/agent.sock
  user: quanta-agent
  mode: 0666