[general]
# Path to the AWSLogs agent's state file. Agent uses this file to maintain
# client side state across its executions.
state_file = /var/awslogs/state/agent-state

[opsworks]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /var/log/aws/opsworks/opsworks-agent.log
log_stream_name = opsworks

[apache]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /var/log/httpd/error.log
log_stream_name = apache

[php]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /var/log/httpd/magento-error.log
log_stream_name = php

[mysql]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /var/log/mysqld.log
log_stream_name = mysql

[cron]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /var/log/cron
log_stream_name = cron

[mail]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /var/log/mailog
log_stream_name = mail

[magento_exception]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /srv/www/magento/current/var/log/exceptions.log
log_stream_name = application

[magento_system]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /srv/www/magento/current/var/log/system.log
log_stream_name = application

[symfony]
datetime_format = [%Y-%m-%d %H:%M:%S]
log_group_name = <%= node[:opsworks][:stack][:name].gsub(' ', '').gsub('-', '') %>
file = /srv/www/<%= node[:app][:type] %>/current/app/logs/<%= node[:stack][:mode] %>.log
log_stream_name = application


