parameters:
    database_host: <%= @dbhost%>
    database_port: 3306
    database_name: <%= @dbname%>
    database_user: <%= @dbuser%>
    database_password: <%= @dbpassword%>
    mailer_transport: smtp
    mailer_host: <%= @smtphost%>
    mailer_user: <%= @smtplogin%>
    mailer_password: <%= @smtppassword%>
    secret: <%= @appsecret%>