parameters:
    database_host: <%= @dbhost%>
    database_port: 3306
    database_name: <%= @dbname%>
    database_user: <%= @dbuser%>
    database_password: <%= @dbpassword%>
    mailer_transport: smtp
    mailer_host: <%= @smtphost%>
    mailer_user: <%= @smtplogin%>
    mailer_password: <%= @smtppassword%>
    secret: <%= @appsecret%>
    database_driver: pdo_mysql
    locale: en
    mailer_port: null
    mailer_encryption: null
    websocket_bind_address: 0.0.0.0
    websocket_bind_port: 8080
    websocket_frontend_host: '*'
    websocket_frontend_port: 8080
    websocket_backend_host: '*'
    websocket_backend_port: 8080
    session_handler: session.handler.native_file
    installed: <%= @dateinstall%>
    assets_version: null
    assets_version_strategy: time_hash
